.habits-container {
    padding: 32px 0;
}
.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
}
.habits-title {
    text-align: center;
}
.menu-title a {
    position: relative;
    top: 10px;
    margin-right: 50px;
}

.habits-wrapper {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.habit-block {
    padding: 12px;
    border: 2px solid #333333;
    border-radius: 5px;
}


.habit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.habit__title {
    color: CornflowerBlue;
}
.habit__description {
}
.habit__start-date {
}
.habit__start-date i {
    color: CadetBlue;
}
.habit__period {
    margin: 0;
}
.habit__period span {
    font-weight: bold;
}

.habit__detail-page button {
    margin: 10px 0;
}



.interaction {
    width: 100%;
}